.shahriar-fake-bg {
  position: relative;
  z-index: 9;
  background: #f8f8f8;
  height: 100%
  /*top: 0px;*/
  /*top: -3rem;*/
}

.shahriar-section {
  /*-webkit-box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);*/
  box-shadow: 20px 30px 50px 0 rgba(1, 1, 1, .15),-20px -30px 50px 0 rgba(1, 1, 1, .15);
  max-width: 1170px;
  margin: 2rem auto 10rem;
  width: 95%;
  padding: 6rem 0 15rem;
  /*position: relative;*/
  /*bottom: 80px;*/
  /*z-index: 500;*/
  /*opacity: 0.6;*/
  /*z-index: 90;*/
  /*margin: 20px;*/
  background-color: white;
  margin-bottom: 50px;
  position: relative;
  z-index:10;
}

.section-content {
  max-width: 720px;
  margin: 0 auto 6rem;
}

.shahriar-post {
  position: relative;
  margin-bottom: 9rem;
  padding-bottom: 1rem;
}

.entry-header {
  margin-bottom: 2.6rem;
  font-family: 'Josefin Sans';
}

.entry-header h1{
  margin: 50px 0px 1px;
  padding-left: 0px;
  margin-left: 3rem;
  font-weight: bold;
}

.article-content {
  margin-left:3rem;
}

.article-content p{
  padding-right: 3rem;
  font-size: 20px;
}

.post-letter {
  line-height: 1.2;
  color: rgba(0, 0, 0, .07);
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 3rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  text-transform: uppercase;
  font-size: 12.0rem;
}

.shahriar-fake-bg .shahriar-section:first-child {
  top: -5rem;
  position: relative;
  z-index: 9;
  margin-bottom: 0px;
  top: -80px;
}

.post-letter {
  font-family: 'Josefin Sans';
}

p {
  font-family: 'Domine';
}

hr {
  border: .75px solid rgb(186,181,181);
  margin-right: 3rem;
}

.snap {
  width: 150px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:left;
  margin-right:10px;
  /*margin-top:10px;*/
  margin-bottom:10px;

  border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;

  text-align: center;
}

h3.sub-header{
  margin-top:80px;
}
